<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../styles/style_sidebar.css">
    <link rel="stylesheet" href="../../../styles/style.css">
    <link rel="stylesheet" href="../../../styles/fonts.css">
    <script src="./scripts/script.js"></script>
</head>

<body>
    <div class="sidebar">
        <img class="logo-sidebar" src="../img/logo_white.svg" alt="">
        <div id="sidebarMenu">
            <div class="sidebar-menu-row"><img class="icon" src="../img/summary.png" alt=""> Summary</div>
            <div class="sidebar-menu-row"><img class="icon" src="../img/addtask.png" alt=""> Add Task</div>
            <div class="sidebar-menu-row"><img class="icon" src="../img/board.png" alt=""> Board</div>
            <div class="sidebar-menu-row"><img class="icon" src="../img/contacts.png" alt=""> Contacts</div>
        </div>
        <div class="sidebar-bottom">
            <div class="bottom-row">
                <div class="direction-left">Privacy Policy</div>
            </div>
            <div class="bottom-row">
                <div class="direction-left">Legal Notice</div>
            </div>
        </div>
    </div>

    <div id="content"></div>

</body>

</html>