<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/style_sidebar.css">
    <link rel="stylesheet" href="./styles/style.css">
    <link rel="stylesheet" href="./styles/fonts.css">
    <script src="./scripts/script.js"></script>
    <script src="./scripts/templates.js"></script>
</head>

<body>
    <div class="sidebar">
        <img class="logo-sidebar" src="./assets/img/logo_white.svg" alt="">
        <div id="sidebarMenu">
            <div class="sidebar-menu-row" id="summaryBtn" onclick="selectSummary()"><img class="icon"
                    src="./assets/img/summary.png" alt="">Summary</div>
            <div class="sidebar-menu-row" id="add_taskBtn" onclick="selectAddTask()"><img class="icon"
                    src="./assets/img/addtask.png" alt="">Add
                Task</div>
            <div class="sidebar-menu-row" id="boardBtn" onclick="selectBoard()"><img class="icon"
                    src="./assets/img/board.png" alt="">Board
            </div>
            <div class="sidebar-menu-row" id="contactsBtn" onclick="selectContacts()"><img class="icon"
                    src="./assets/img/contacts.png" alt="">Contacts</div>
        </div>
        <div class="sidebar-bottom">
            <div class="bottom-row" id="privacy_policyBtn" onclick="selectPrivacyPolicy()">
                <div class="direction-left">Privacy Policy</div>
            </div>
            <div class="bottom-row" id="legal_noticeBtn" onclick="selectLegalNotice()">
                <div class="direction-left">Legal Notice</div>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="header">
            <p>Kanban Project Management Tool</p>
            <div class="top-right">
                <div class="bounding-box"><img class="help-icon" src="assets/img/help.png" alt="Help"></div>
                <div onclick="showSubmenu()"><img class="profile-icon" src="assets/img/profile.png" alt="Help"></div>
            </div>
        </div>
        <div class="submenu d-none" id="submenu">
            <div class="submenu-link" onclick="selectLegalNotice()">
                <p class="submenu-link-text">Legal Notice</p>
            </div>
            <div class="submenu-link" onclick="selectPrivacyPolicy()">
                <p class="submenu-link-text">Privacy Policy</p>
            </div>
            <div class="submenu-link" onclick="selectIndex()">
                <p  class="submenu-link-text">Logout</p>
            </div>
        </div>
        <div id="content"></div>
    </div>
</body>

</html>