.main-addtask {
    display: flex;
    gap: 32px;
    padding-left: 60px;
    padding-right: 60px;
    justify-content: center;
}

::placeholder {
    font-family: 'Inter';
}

.addtask-content-header {
    padding-left: 60px;
    padding-right: 60px;
}

.addtask-content {
    top: 136px;
    max-width: calc(100% - 232px);
    max-height: calc(100% - 136px);
    margin: 206px 0 0 232px;
}

h1 {
    font-weight: 700;
    font-size: 61px;
    margin: 0px 0px 42px 0px;
}

.required:after {
    content: "*";
    color: red;
}

.required-2::before {
    content: "*";
    color: red;
}

.left-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 440px;
}

.right-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 440px;
}

.inputfields {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

input {
    height: 22px;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    padding: 12px 21px 12px 21px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Inter';
}

.datefield {
    background-image: url("../assets/img/event.png");
    background-repeat: no-repeat;
    background-position: center right 18px;
}

input[type="date"] {
    font-family: 'Inter';
}

input[type=date]:invalid {
    color: lightgray;
}

input:focus::-webkit-datetime-edit {
    color: initial;
}

input[type=date]::-webkit-calendar-picker-indicator {
    background-image: none;
}

.prio {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.prio-buttons {
    display: flex;
    gap: 8px;
    justify-content: center;
}

.prio-buttons button {
    border-radius: 10px;
    height: 56px;
    width: 100%;
    border: 0px;
    background: #FFFFFF;
    font-weight: 400;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    cursor: pointer;
}

.prio-buttons button:hover {
    box-shadow: 0px 4px 4px 0px #00000040;
}

.description {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

textarea {
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    padding: 12px 21px 12px 21px;
    gap: 10px;
    font-size: 20px;
    font-weight: 400;
    height: 120px;
    max-height: 120px;
    resize: none;
    font-family: 'Inter';
}

.dropdown-content {
    box-shadow: 0px 1px 1px 0px #00000040 inset;
}

.dropdown-content:hover {
    border: 1px solid #7a7a7a;
}

.dropdown-content {
    background-image: url("../assets/img/arrow_drop.png");
    background-repeat: no-repeat;
    background-position: center right 18px;
}

.dropdown_selection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    cursor: pointer;
    background-image: url("../assets/img/unchecked.png");
    background-repeat: no-repeat;
    background-position: center right 20px;
    height: 24px;
    width: 95%;
}

.dropdown_selection:hover {
    background: #D1D1D1;
    border-radius: 10px;
    background-image: url("../assets/img/unchecked.png");
    background-repeat: no-repeat;
    background-position: center right 20px;
    height: 24px;
    width: 95%;
}

.selected_dropdown {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    cursor: pointer;
    color: #FFFFFF;
    background: #091931;
    border-radius: 10px;
    background-image: url("../assets/img/Check_button_white.png");
    background-repeat: no-repeat;
    background-position: center right 20px;
    height: 24px;
    width: 95%;
}

.checkbox {
    appearance: none;
    border: 0;
}

.dropdown_box {
    display: none;
    background-color: #ffffff;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    position: absolute;
    bottom: 38px;
    width: 440px;
    height: 185px;
    overflow: scroll;
}

.category_dropdown_box {
    display: none;
    background-color: #ffffff;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    position: relative;
    /* bottom: 128px;
    width: 440px; */
    height: 185px;
    overflow: scroll;
}

.separator {
    height: 350px;
    border: 1px solid #D1D1D1;
}

.subtask {
    background-image: url("../assets/img/plus.png");
    background-repeat: no-repeat;
    background-position: center right 18px;
}

.aktive-subtask {
    display: none;
    background: #FFFFFF;
    background-image: url('../assets/img/close.png'), url('../assets/img/separator.png'), url('../assets/img/check_black.png');
    background-repeat: no-repeat;
    background-position: center right 28px, center right 28px, center right 8px;
}

li {
    background-image: url("../assets/img/delete.png"), url('../assets/img/separator.png'), url('../assets/img/check_black.png');
    background-repeat: no-repeat;
    background-position: center right 30px, center right 28px, center right 8px;
    cursor: pointer;
}

.bottom-container {
    display: flex;
    justify-content: space-between;
    padding: 75px 60px 0 60px;
    align-items: center;
}

.bottom-container-mobile {
    display: none !important;
}

.submit-buttons {
    display: flex;
    gap: 20px;
    height: 56px;
    justify-content: flex-end;
}

.clear-button {
    background: #F6F7F8;
    border-radius: 10px;
    width: 110px;
    cursor: pointer;
    font-weight: 700;
    font-size: 21px;
    display: flex;
    align-items: center;
    background-image: url("../assets/img/close.png");
    background-repeat: no-repeat;
    background-position: center right 10px;
    padding: 16px;
}

.clear-button:hover {
    background-image: url("../assets/img/cancel_blue.png");
    border: 2px solid #29ABE2;
    color: #29ABE2;
    transition: 100ms ease-in-out;
    box-shadow: 0px 0px 14px 3px #00000053;
}

.create-button {
    background: #2A3647;
    border-radius: 10px;
    width: 183px;
    color: white;
    cursor: pointer;
    font-weight: 700;
    font-size: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.create-button img {
    width: 24px;
    height: 24px;
}

.create-button:hover {
    border: 0px;
    background: #29ABE2;
    transition: 100ms ease-in-out;
    box-shadow: 0px 0px 14px 3px #00000053;
    ;
}

@media (max-width: 1000px) {
    h1 {
        font-size: 47px;
    }

    .main-addtask {
        gap: 22px;
    }

    input {
        height: 14px;
        font-size: 14px;
    }

    textarea {
        font-size: 14px;
        height: 100px;
    }

    select {
        font-size: 14px;
        height: 42px;
    }

    span {
        font-size: 14px;
    }

    .datefield {
        background-size: 20px 20px;
    }

    .prio-buttons button {
        font-size: 14px;
        height: 41px;
        gap: 4px;
    }

    .prio-buttons button img {
        width: 14px;
    }

    .submit-buttons {
        height: 40px;
    }

    .clear-button {
        font-size: 14px;
        background-size: 20px 20px;
        width: 88px;
    }

    .create-button {
        font-size: 14px;
        background-size: 20px 20px;
        width: 126px;
    }
}

@media (max-width: 750px) {
    .addtask-content-header {
        display: flex !important;
        position: fixed;
        align-items: flex-end;
        background-color: rgb(246, 247, 248);
        height: 90px;
        width: 100%;
        padding: 0;
    }

    .addtask-content {
        margin: 110px 0 0 0;
        max-width: 100%;
        width: 100%;
        height: 870px;
    }

    h1 {
        margin: 0;
        padding-left: 20px;
    }

    .main-addtask {
        flex-direction: column;
        padding-bottom: 20px;
        padding-right: 20px;
        padding-left: 20px;
        padding-top: 110px;
        height: 850px;
        justify-content: flex-start;
    }

    .right-container {
        width: 100%;
    }

    .left-container {
        width: 100%;
    }

    .separator {
        display: none;
    }

    textarea {
        height: 88px;
    }

    .prio-buttons button {
        width: 121, 33px;
        font-size: 16px;
        gap: 8px;
    }

    .prio-buttons button img {
        width: 20px;
    }

    .bottom-container-mobile {
        display: flex !important;
        position: fixed;
        bottom: 96px;
        justify-content: space-around;
        align-items: center;
        z-index: 999;
        background-color: rgb(246, 247, 248);
        height: 80px;
        width: 100%;
    }

    .bottom-container {
        display: none !important;
    }

    .clear-button {
        display: none;
    }

    .create-button {
        font-size: 18px;
        background-size: 16px 16px;
        width: 154px;
        height: 42px;
    }
}