body {
    margin: 0;
    background-color: rgb(246,247,248);
    font-family: "Inter";
    display: contents !important; /*Change to flex if you wish to center the key metrics*/
}

.d-flex {
    display: flex;
}

.j-center {
    justify-content: center;
}

.a-center {
    align-items: center;
}

.j-between {
    justify-content: space-between;
}

.d-none {
    display: none;
}

.f-column {
    flex-direction: column;
}

.f-size-27 {
    font-size: 27px;
    font-weight: 400;
    color: rgba(42, 54, 71, 1);
    margin: 0;
}

.f-size-64 {
    font-size: 64px;
    font-weight: 600;
    color: rgba(0, 0, 0, 1);
    margin: 0;
}

.f-size-20 {
    font-size: 20px;
    font-weight: 400;
    color: rgba(42, 54, 71, 1);
    margin: 0;
}

.f-size-21 {
    font-size: 21px;
    font-weight: 700;
    color: rgba(42, 54, 71, 1);
    margin: 0;
}

.f-size-47 {
    font-size: 47px;
    font-weight: 500;
    color: rgba(42, 54, 71, 1);
    margin: 0;
}

span {
    font-size: 64;
    font-weight: 700;
    color: rgba(41, 171, 226, 1);
}

h1 {
    font-size: 61px;
    font-weight: 700;
    color: rgba(0, 0, 0, 1);
}

.gap-80 {
    gap: 80px;
}

.headline-cont {
    margin: 206px 0 0 328px; 
    gap: 30px;
    height: 73px;
}

.metrics-cont {
    margin: 56px 0 0 328px;
    height: 562px;
    width: 560px;
    gap: 30px;
}

.top-cont {
    width: 264px;
    height: 168px;
    border-radius: 30px;
    gap: 18px;
    background-color: rgb(255, 255, 255);
}

.top-cont:hover {
    cursor: pointer;
    background-color: rgb(42,54,71);
}

.top-cont:hover p {
    color: rgb(255, 255, 255);
}

.top-cont:hover img:first-child {
    display: none;
  }
  
  .top-cont:hover img:nth-child(1) + #checkmarkWhite { /*nth peseudo element targets the first child of the parent container. Could also use img:first-child, but nth is universal*/
    display: block;
  }

  .top-cont:hover img:nth-child(1) + #penWhite {
    display: block;
  }