body {
    display: flex;
    width: 100%;
    gap: 26px;
}

.TaskBox {
    width: 252px !important;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 12px;
    padding: 12px 16px;
}

.taskBoxBackground {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    overflow: clip;
}

.TaskDetails {
    width: 525px !important;
    display: flex;
    max-height: 70vh;
    overflow-y: auto;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: white;
    margin-bottom: 12px;
    padding: 68px 40px 38px 40px;
    border-radius: 30px;
    animation: slide-in 0.8s both;
    position: relative;
}

.TaskDetails h1,
.TaskDetails h2,
.TaskDetails h5,
.TaskDetails p {
    margin: 0 0 10px 0;
    padding: 0;
}

.TaskDetails h2 {
    font-size: 42px;
}

.TaskDetails button {
    margin-bottom: 20px;
}

.closePopup {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 24px;
    color: #000;
}

.hidden {
    display: none;
}

.descriptionDetails{
    color: #000;

}

.TaskDetailsLine {
    display: flex;
    align-items: center;
}

.TaskDetailsLine p {
    margin-right: 10px; 
}

.TaskDetailsLine .dueDate {
    white-space: nowrap; 
    color: gray; 
}

.wrapped_maxWidth {
    width: 100%;
    max-width: 1220px;
    margin-left: 250px;
}

.boardHeadline {
    display: flex;
    justify-content: space-between;
    font-size: 38px;
    margin: 0;
    padding-top: 150px;
}

.boardHeadlineActions {
    display: flex;
    gap: 32px;
    align-items: center;
    justify-content: space-between; 
}

.searchTask {
    display: flex;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #A8A8A8;
    height: 48px;
    align-items: center;
}

#inputSearchTask {
    flex: 1;
    border-style: none;
    border-radius: 10px;
    padding-left: 16px;
    font-size: 20px;
    width: 100%;
    outline: none;
    cursor: pointer;
}

.magnifyingGlass {
    width: 18px;
    height: 18px;
    margin: 0 16px;
    border-radius: 50%;
    cursor: pointer;
}

.addTaskButton {
    border: none; 
    outline: none; 
    border-radius: 10px;
    font-size: 21px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 48px;
    gap: 4px;
    background-color: #2A3647;
    color: white;
    margin-right: 10px;
}

.addTaskButton img {
    align-items: center;
    width: 18px;
    margin: 10px;
}

.addTaskButton:hover {
    background-color: #29ABE2; 
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3); 
}

.boardTasks {
    display: flex;
    align-items: flex-start;
    gap: 26px;
}

.statusTasks {
    display: flex;
    flex-direction: column;
    width: 252px;
    font-size: 20px;
}

@media screen and (max-width: 768px) {
    .wrapped_maxWidth {
        margin-left: 0;
    }
}

.headlineStatusTasks {
    display: flex;
    align-items: center;
    margin-bottom: 15.5px;
    margin: 0;
    gap: 26px;
}

.taskStatusTitle {
    flex: 1;
    color: #42526E;
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 26px;
    margin-top: 26px;
}

.toDoBox {
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.1));
    font-size: 16px;
    padding: 18px;
    min-width: 200px;
}

.toDoBox:hover {
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.3));
}

.CategoryBox {
    color: white;
    padding: 6px 16px;
    border-radius: 12px;
    margin-bottom: 24px;
    background-color: #0038FF;
    font-weight: 400;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: none;
    font-size: 18px;
}

.HeadlineBox {
    overflow: hidden;
    font-weight: 700;
    font-size: 20px;
}

.descriptionBox {
    color: #A8A8A8;
}

.nameSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.assignedName {
    color: white;
    border-radius: 50%;
    border: 1px solid white;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
    margin-left: -8px;
}

.colorName {
    background-color: #584c7c;
}

.prioImgContainer {
    margin-left: auto;
}

.add_task_to_board {
    cursor: pointer;
    color: #42526E;
}

.imageContainer {
    display: inline-block;
}

.imageContainer:hover .add_task_to_board {
    color: #29ABE2;
}

.dialog-bg {
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 999;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.add_task_dialog {
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    box-sizing: border-box;
    color: rgb(36, 46, 48);
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    left: 70px;
    right: 0;
    height: 700px;
    line-height: 20px;
    opacity: 1;
    position: relative;
    text-rendering: optimizelegibility;
    width: 900px;
    z-index: 4006;
}

.close_dialog_btn {
    position: absolute;
    border: 0;
    top: 44px;
    right: 4%;
    width: 32px;
    background-color: white;
    cursor: pointer;
}

.d_none {
    display: none;
}

.toDoBox_noTask {
    border: 1px dashed #A8A8A8;
    border-radius: 10px;
    background-color: #E7E7E7;
    height: 50%;
    padding: 8px;
}

.noTaskMessage {
    color: #42526E;
    text-align: center;
    margin: 0;
    padding: 4px;
}

.subtaskProgress {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    font-size: 14px;
}

.subtaskProgress progress {
    flex: 1;
    margin-right: 10px;
}

#searchTask:hover {
    border-color: #29ABE2;
}

@media screen and (max-width: 1200px) {
    .boardHeadline {
        justify-content: space-between; 
    }

    .searchTask {
        margin-left: 10%;
        margin-right: 10%;
        height: 38px;
    }

    .addTaskButton {
        width: auto;
        min-width: 160px;
    }

    .taskStatusTitle {
        font-size: 22px;
    }

    .boardTasks {
        flex-wrap: wrap;
        margin-bottom: 100px;
    }

    .statusTasks {
        width: calc(50% - 26px);
    }
}

@media screen and (max-width: 750px) {
    .boardHeadline {
        flex-direction: column;
    }

    .searchTask {
        margin-left: 0;
        margin-right: 0;
    }

    .boardTasks {
        gap: 0;
        margin-bottom: 50px;
    }

    .statusTasks {
        width: 100%;
    }

    .searchTask, .addTaskButton {
        margin-bottom: 20px;
    }
}

/* Animation */
@keyframes slide-in-right {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-out-right {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(100%);
        opacity: 0;
    }
}
/* CSS-Klassen für die Animationen */
.slide-in-right {
    animation: slide-in-right 0.8s both;
}

.slide-out-right {
    animation: slide-out-right 0.8s both;
}

/* Anpassung der TaskDetails */
.TaskDetails {
    width: 525px !important;
    display: flex;
    max-height: 70vh;
    overflow-y: auto;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: white;
    margin-bottom: 12px;
    padding: 68px 40px 38px 40px;
    border-radius: 30px;
    position: relative;
}