.main-addtask {
    display: flex;
    left: 328px;
    gap: 32px;
    align-items: flex-start;
    padding-left: 28px;
    padding-right: 28px;
}

::placeholder {
    font-family: 'Inter';
}

.addtask-content {
    position: absolute;
    top: 136px;
    max-width: calc(100% - 232px);
    max-height: calc(100% - 136px);
    margin-left: 232px;
}

h1 {
    font-weight: 700;
    font-size: 61px;
    padding-left: 28px;
}

.required:after {
    content: "*";
    color: red;
}

.required-2::before {
    content: "*";
    color: red;
}

.left-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 440px;
}

.right-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 440px;
}

.inputfields {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

input {
    height: 22px;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    padding: 12px 21px 12px 21px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 400;
}

.datefield {
    background-image: url("../assets/img/event.png");
    background-repeat: no-repeat;
    background-position: center right 18px;
}

input[type=date]::-webkit-calendar-picker-indicator {
    visibility: hidden;
}

.prio {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.prio-buttons {
    display: flex;
    gap: 8px;
    width: 440px;
    justify-content: center;
}

.prio-buttons button {
    border-radius: 10px;
    height: 56px;
    width: 142px;
    border: 0px;
    background: #FFFFFF;
    font-weight: 400;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    cursor: pointer;
}

.prio-buttons button:hover {
    box-shadow: 0px 4px 4px 0px #00000040;
}

.textarea {
    gap: 4px;
    display: flex;
    flex-direction: column;
    height: 120px;
    max-height: 120px;
    width: 100%;
    max-width: 396px;
}

textarea {
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    padding: 12px 21px 12px 21px;
    gap: 10px;
    font-size: 20px;
    font-weight: 400;
}

select {
    height: 48px;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    padding: 12px 21px 12px 21px;
    cursor: pointer;
    appearance: none;
    font-size: 20px;
    font-weight: 400;
}

.dropdown-content {
    background-image: url("../assets/img/arrow_drop.png");
    background-repeat: no-repeat;
    background-position: center right 18px;
}

.separator {
    height: 350px;
    border: 1px solid #D1D1D1;
}

.subtask {
    background-image: url("../assets/img/plus.png");
    background-repeat: no-repeat;
    background-position: center right 18px;
}

.subtask-close {
    background: #FFFFFF;
    border: 0px;
    position: relative;
    left: 380px;
    cursor: pointer;
    padding: 0;
    height: 24px;
    top: -35px;
}

.subtask-separator {
    background: #FFFFFF;
    border: 0px;
    position: relative;
    left: 380px;
    cursor: pointer;
    padding: 0;
    height: 18px;
    top: -39px;
}

.subtask-check {
    background: #FFFFFF;
    border: 0px;
    position: relative;
    left: 384px;
    cursor: pointer;
    padding: 0;
    height: 24px;
    top: -40px;
}

.subtask-check img {
    height: 15px;
    width: 18px;
}

.subtask-close img {
    height: 24px;
    width: 24px;
}

.aktive-subtask {
    width: 396px;
}

#aktive-subtask-block {
    display: none;
    height: 48px;
}

.bottom-container {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    padding-left: 28px;
}

.submit-buttons {
    display: flex;
    gap: 8px;
    height: 56px;
    width: 309px;
    justify-content: flex-end;
}

.submit-buttons img {
    height: 24px;
    width: 24px;
}

.clear-button {
    background: #F6F7F8;
    border-radius: 10px;
    width: 110px;
    cursor: pointer;
    font-weight: 700;
    font-size: 21px;
    display: flex;
    align-items: center;
    background-image: url("../assets/img/cancel.png");
    background-repeat: no-repeat;
    background-position: center right 10px;
    padding: 16px;
}

.clear-button:hover {
    background-image: url("../assets/img/cancel_blue.png");
    border: 2px solid #29ABE2;
    color: #29ABE2;
    transition: 100ms ease-in-out;
    box-shadow: 0px 0px 14px 3px #00000053;
}

.create-button {
    background: #2A3647;
    border-radius: 10px;
    width: 183px;
    color: white;
    cursor: pointer;
    font-weight: 700;
    font-size: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.create-button:hover {
    border: 0px;
    background: #29ABE2;
    transition: 100ms ease-in-out;
    box-shadow: 0px 0px 14px 3px #00000053;
    ;
}