body {
    display: flex;
    width: 100%;
}

/* Task Box */
.TaskBox {
    width: 252px !important;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 12px;
    padding: 12px 16px;
}

/* Task Box Background */
.taskBoxBackground {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    overflow: clip;
}

/* Task Details */
.TaskDetails {
    width: 525px !important;
    display: flex;
    max-height: 70vh;
    overflow-y: auto;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: white;
    margin-bottom: 12px;
    padding: 68px 40px 38px 40px;
    border-radius: 30px;
    animation: slide-in 0.8s both;
    position: relative;
}

.TaskDetails h1,
.TaskDetails h2,
.TaskDetails h5,
.TaskDetails p {
    margin: 0 0 10px 0;
    padding: 0;
}

.TaskDetails h2 {
    font-size: 42px;
}

.TaskDetails button {
    margin-bottom: 20px;
}

.closePopup {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 24px;
    color: #000;
}

.hidden {
    display: none;
}

.descriptionDetails {
    color: #000;
}

.TaskDetailsLine {
    display: flex;
    align-items: center;
    gap: 25px;
}

.priorityContainer {
    display: flex;
    align-items: center;
    gap: 10px; 
}

.priorityContainer p {
    margin: 0 10px 0 0;
    display: flex;
    align-items: center;
}

.TaskDetailsLine p {
    margin-right: 10px;
}

.TaskDetailsLine .dueDate,
.priorityContainer .dueDate,
.assignedContainer .dueDate {
    color: gray;
    margin-bottom: 20px;
}



/* Assigned Container */
.assignedContainer {
    display: flex;
    align-items: center;
    margin-top: 10px;
    text-align: center;
    justify-content: center;
    margin-left: 20px;
}

.assignedContainer .assignedName {
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #584c7c;
    color: white;
    font-size: 18px;
    line-height: 40px;
    text-align: center;
}

/* Subtasks */
.tasks {
    min-height: 300px;
    margin-top: 10px;
    padding-top: 10px;
}

.subtasksTitle {
    color: gray;
}

.subtaskItem {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.subtaskItem input[type="checkbox"] {
    appearance: none;
    width: 18px;
    height: 18px;
    border: 1px solid black;
    border-radius: 4px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    position: relative;
    padding: 0;
    box-sizing: border-box;
}

.subtaskItem input[type="checkbox"]:checked {
    background-color: white;
}

.subtaskItem input[type="checkbox"]:checked::before {
    content: '✓';
    color: black;
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Edit/Delete Container */
.editDeleteWrapper {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
}

.deleteContainer {
    margin-right: 10px;
}

.editDeleteContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px;
    color: var(--colorBgPrimary);
}
/* Wrapped Max Width */
.wrapped_maxWidth {
    width: 100%;
    max-width: 1220px;
    margin-left: 150px;
}

/* Board Headline */
.boardHeadline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 38px;
    margin: 0;
    padding-top: 120px;
    gap: 25px;
}



.boardHeadlineActions {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Search Task */
.searchTask {
    display: flex !important;
    background-color: white !important;
    border-radius: 10px !important;
    border: 1px solid #A8A8A8 !important;
    height: 48px !important;
    align-items: center !important;
    flex: 1 !important;
    margin-right: 20px;
}


/* Search Task Hover */
.searchTask:hover {
    border-color: #29ABE2 !important;
}


.inputSearchTask {
    flex: 1 !important;
    border: none !important;
    border-radius: 10px !important;
    padding-left: 16px !important;
    font-size: 20px !important;
    width: 100% !important;
    outline: none !important;
    cursor: pointer !important;
    box-shadow: none !important;
    /* Entfernt den inneren Rahmen */
    width: 100%;
}

.magnifyingGlass {
    width: 18px !important;
    height: 18px !important;
    margin: 0 16px !important;
    border-radius: 50% !important;
    cursor: pointer !important;
}

/* Add Task Button */
.addTaskButton {
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 21px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 48px;
    gap: 4px;
    background-color: #2A3647;
    color: white;
    margin-right: 10px;
}

.addTaskButton img {
    align-items: center;
    width: 18px;
    margin: 10px;
}

.addTaskButton:hover {
    background-color: #29ABE2;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

/* Board Tasks */
.boardTasks {
    display: flex;
    align-items: flex-start;
    /* gap: 26px; */
}

/* Status Tasks */
.statusTasks {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 252px;
    font-size: 20px;
    padding: 10px;
}

/* Headline Status Tasks */
.headlineStatusTasks {
    display: flex;
    align-items: center;
    margin: 0;
    gap: 26px;
}

.taskStatusTitle {
    flex: 1;
    color: #42526E;
    font-size: 26px;
    font-weight: 700;
    margin: 26px 0;
}

/* To Do Box */
.toDoBox {
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.1));
    font-size: 16px;
    padding: 18px;
    min-width: 250px;
    max-width: 250px;
    min-height: 240px;
    margin-bottom: 24px;
    transition: transform 0.3s ease;
    /* Fügt eine Übergangsanimation hinzu */
    cursor: grab;
}

.toDoBox:hover {
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.3));
    transform: rotate(8deg);
}

.toDoBox_noTask {
    border: 1px dashed #A8A8A8;
    border-radius: 10px;
    background-color: #E7E7E7;
    height: 50%;
    padding: 8px;
}

.noTaskMessage {
    color: #42526E;
    text-align: center;
    margin: 0;
    padding: 4px;
}

/* Category Box */
.CategoryBox {
    color: white;
    padding: 6px 16px;
    border-radius: 12px;
    margin-bottom: 24px;
    background-color: #0038FF;
    font-weight: 400;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: none;
    font-size: 18px;
}

/* Headline Box */
.HeadlineBox {
    overflow: hidden;
    font-weight: 700;
    font-size: 20px;
}

/* Description Box */
.descriptionBox {
    color: #A8A8A8;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: calc(2 * 1.2em); /* Assuming line-height is 1.2 */
    line-height: 1.2em; /* Adjust this based on your line height */
}

/* Name Section */
.nameSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nameSection .assignedName {
    margin-right: 0px;
}
.priorityContainer {
    display: flex;
    align-items: center;
    gap: 10px;
}

.priorityContainer p {
    margin: 0;
    display: flex;
    align-items: center;
    white-space: nowrap; /* verhindert Zeilenumbrüche */
    max-width: 80px; /* begrenzt die Breite auf 80px */
}

.prioImgContainer {
    margin-left: auto;
    /* Schiebt das prioImgContainer nach rechts */
    display: flex;
    align-items: center;
}

.prioImg {
    vertical-align: middle;
}

.assignedName {
    color: white;
    border-radius: 50%;
    border: 1px solid white;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
    margin-left: -8px;
}

.colorName {
    background-color: #584c7c;
}

/* Priority Container */
.priorityContainer {
    display: flex;
    align-items: center;
    gap: 10px;
}

.priorityContainer p {
    display: flex;
    align-items: center;
    gap: 10px; /* Abstand zwischen den Elementen */
}

.priorityContainer .prioImg {
    vertical-align: middle;
}

.priorityContainer p,
.priorityContainer .dueDate,
.priorityContainer .prioImg {
    vertical-align: middle;
}
/* Add Task to Board */
.add_task_to_board {
    cursor: pointer;
    color: #42526E;
}

.imageContainer {
    display: inline-block;
}

.imageContainer:hover .add_task_to_board {
    color: #29ABE2;
}

/* Dialog Background */
.dialog-bg {
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 999;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

/* Add Task Dialog */
.add_task_dialog {
    border-radius: 16px;
    box-sizing: border-box;
    color: rgb(36, 46, 48);
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    right: 0;
    top: 70px;
    height: 700px;
    line-height: 20px;
    opacity: 1;
    position: relative;
    text-rendering: optimizelegibility;
    max-width: 900px;
    z-index: 4006;
    margin: auto;
}

.close_dialog_btn {
    position: absolute;
    border: 0;
    top: 44px;
    right: 4%;
    width: 32px;
    background-color: white;
    cursor: pointer;
}

.d_none {
    display: none;
}

/* Subtask Progress */
.subtaskProgress {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    font-size: 14px;
    margin: 0;
}

.subtaskProgress progress {
    flex: 1;
    margin-right: 10px;
    margin: 0;
}

.bottom-container {
    justify-content: space-around !important;
    margin-left: 0 !important;
}

.dropdown_container {
    padding-right: 0 !important;
}

.drag-area-highlight {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.moreButtonBoard {
    position: absolute;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    color: white;
    font-weight: bold;
    border: 2px solid #FFFFFF;
    cursor: pointer;
}

@media screen and (max-width: 1470px) {
    .wrapped_maxWidth {
        margin-left: 300px;
    }

    .boardHeadlineActions {
        flex-direction: row;
        align-items: center;
    }

    .searchTask {
        width: calc(100% - 10px);
        margin-top: 0;
    }

    .taskStatusTitle {
        font-size: 22px;
    }

    .boardTasks {
        flex-wrap: wrap;
        padding-bottom: 100px;
        flex-direction: row;
    }

    .statusTasks {
        width: 100%;
        font-size: 20px;
    }

    .tasks {
        display: flex;
        gap: 25px;
        width: 100%;
        flex-wrap: nowrap;
        overflow-y: visible;
    }

    .TaskBox {
        width: 252px !important;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 12px;
        padding: 12px 16px;
    }

}

@media (max-width: 1100px) {
    h1 {
        font-size: 50px !important;
    }

    .boardHeadline {
        flex-direction: column;
        align-items: flex-start;
    }

    .boardHeadlineActions {
        flex-direction: column;
        gap: 10px;
        width: 100%;
        margin-top: -125px;
    }

    .searchTask {
        order: 2;
        width: calc(100% - 10px);
        margin-top: 0;
    }

    .addTaskButton {
        margin-top: 10px;
        margin-left: auto;
        order: 1;
        width: auto;
        min-width: 0;
        width: 48px;
        height: 48px;
        font-size: 0;
    }

    .addTaskButton img {
        margin: 0;
    }

    .addTaskButton span {
        display: none;
    }
}

@media screen and (max-width: 750px) {
    .wrapped_maxWidth {
        width: 100%;
        margin-left: -155px;
        margin-bottom: 1000px;
    }

    .addTaskButton {
        margin-top: 50px;
        width: 100% -125px;
    }

    .SearchTask {
        margin-left: 30px;
        height: 35px !important;
    }

    .boardTasks {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 40px !important;

    }

    .addTaskButton {
        height: 40px;
        width: 40px;
        margin-bottom: 20px;
    }
}



/* Animation Keyframes */
@keyframes slide-in-right {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-out-right {
    from {
        transform: translateX(0);
        opacity: 1;
    }

    to {
        transform: translateX(100%);
        opacity: 0;
    }
}

/* Animation Classes */
.slide-in-right {
    animation: slide-in-right 0.8s both;
}

.slide-out-right {
    animation: slide-out-right 0.8s both;
}

