.edittask-content {
    display: flex;
    flex-direction: column;
    top: 136px;
    max-width: 100%;
    width: 100%;
    max-height: calc(100% - 136px);
    height: 100%;
    margin: 96px 14px 0 22px;
}

.edittask-content::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

.edittask-content::-webkit-scrollbar-track {
    background: rgb(246, 247, 248);
}

.edittask-content::-webkit-scrollbar-thumb {
    background-color: rgb(246, 247, 248);
    border-radius: 19px;
    background: #344358;
}

.main-edittask {
    display: flex;
    gap: 22px;
    padding-left: 60px;
    padding-right: 60px;
    justify-content: center;
    flex-direction: column;
}

.edittaskcontainer {
    display: flex;
    gap: 32px;
    width: 100%;
    flex-direction: column;
}

.edit-left-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}

.edit-required-2::before {
    content: "*";
    color: red;
    padding-left: 10px;
}

.edit-textarea {
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    padding: 12px 12px 12px 12px;
    gap: 10px;
    font-weight: 400;
    max-height: 120px;
    resize: none;
    font-family: 'Inter';
    font-size: 14px;
    height: 100px;
}

textarea:hover {
    border-color: #29ABE2;
}

.edit-dropdown_container {
    display: block;
    position: static;
    padding-right: 12px;
}

.edit-dropdown_box {
    display: none;
    background-color: #ffffff;
    border-radius: 10px;
    position: static;
    top: calc(100% + 0px);
    left: 0;
    width: 100%;
    max-height: 185px;
    overflow-y: auto;
    z-index: 999;
    overflow-x: hidden;
    padding-right: 14px;
}

.edit-right-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}

.edit-datefield {
    background-image: url("../assets/img/event.png");
    background-repeat: no-repeat;
    background-position: center right 10px;
    background-size: 20px 20px;
}

.edit-prio-buttons {
    display: flex;
    gap: 8px;
    justify-content: center;
}

.edit-prio-buttons button {
    border-radius: 10px;
    width: 100%;
    border: 1px solid #00000017;
    background: #FFFFFF;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 14px;
    height: 41px;
    gap: 4px;
}

.edit-prio-buttons button img {
    width: 14px;
}

.edit-dropdown_container {
    display: block;
    position: static;
    padding-right: 12px;
}

.edit-category_dropdown_box {
    display: none;
    background-color: #ffffff;
    border-radius: 10px;
    top: calc(100% + 0px);
    left: 0;
    width: 100%;
    max-height: 185px;
    overflow-y: auto;
    z-index: 999;
    overflow-x: hidden;
    position: static;
    padding-right: 14px;
}

.edit-category_dropdown_box::-webkit-scrollbar {
    width: 3px;
}

.edit-category_dropdown_box::-webkit-scrollbar-thumb {
    background: #344358;
    height: 80px;
}

.edit-task-cont {
    position: fixed;
    transform: translateY(100vh);
    transition: transform 300ms ease-out;
    flex-direction: column;
}

.edit-bottom-container-mobile {
    display: flex !important;
    position: fixed;
    bottom: 80px;
    justify-content: space-around;
    align-items: center;
    z-index: 999;
    background-color: rgb(246, 247, 248);
    height: 80px;
    width: 100%;
    left: 0px;
}

.edit-submit-buttons {
    display: flex;
    gap: 20px;
    height: 40px;
    justify-content: flex-end;
}

.edit-create-button {
    background: #2A3647;
    border-radius: 10px;
    width: 126px;
    color: white;
    cursor: pointer;
    font-weight: 700;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    background-size: 20px 20px;

}

.edit-create-button img {
    width: 24px;
    height: 24px;
}

.edit-create-button:hover {
    border: 0px;
    background: #29ABE2;
    transition: 100ms ease-in-out;
    box-shadow: 0px 0px 14px 3px #00000053;
    ;
}

@media (max-width: 750px) {

    .main-edittask {
        flex-direction: column;
        padding-bottom: 20px;
        padding-right: 20px;
        padding-left: 20px;
        padding-top: 110px;
        justify-content: flex-start;
        height: 500px;
        overflow-y: auto;
    }

    .edit-textarea {
        height: 88px;
    }

    .edit-prio-buttons button {
        width: 121, 33px;
        font-size: 16px;
        gap: 8px;
    }

    .edit-prio-buttons button img {
        width: 20px;
    }

    .edit-create-button {
        font-size: 14px;
        background-size: 16px 16px;
        width: 124px;
        height: 38px;
    }
}

@media (max-width: 360px) {
    .edit-bottom-container-mobile {
        justify-content: space-evenly;
    }
    .edit-submit-buttons {
        gap: 0;
    }

}